.experience {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        padding: 60px 65px 0 65px;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 18px;
                height: 18px;
                background: $main-color;
                border-radius: 100%;
                left: -8px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none ;
            li {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: calc(100% + 14px);
                    background: black;
                    left: 0;
                    top: -14px;
                }
            }
        }
    }

    &__item {
        position: relative;
        &:before {
            content: '';
            width: 44px;
            height: 2px;
            background: black;
            position: absolute;
            top: 37px;
        }
        &-info {
            padding: 20px 0 0 100px;
            h4 {
                margin: 0;
            }
        }
        &-descr{
            padding-left: 43px;
            margin-top: 12px;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            z-index: 3;
            left: 43px;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
            @include before_circle;
        }
        &-education {
            font-size: 12px;
            line-height: 18px;
        }
    }
}