.price {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 365px);
/*         grid-template-rows: repeat(3, minmax(45px, auto)); */
        /* grid-auto-rows: minmax(45px, auto); */
        justify-content: space-between;
        padding: 60px 50px 0 50px;
    }
    &__column {
        ul {
            list-style-type: none;
            margin: 0;
            position: relative;
            &:before {
                content: '';
                height: calc(100% - 14px);
                top: 10px;
                left: 6.5px;
                width: 2px;
                background: black;
                position: absolute;
            }
            li {
                margin-bottom: 15px;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    &__item {
        display: grid;
        /* grid-template-columns: minmax(160px, auto) minmax(89px, auto); */
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, minmax(21px, auto));
        row-gap: 5px;
        justify-content: space-between;
        align-content: space-between;
        padding-left: 25px;
        &-service, &-count {
            font-size: 16px;
            line-height: 21px;
            font-weight: 700;
        }
        &-count {
            justify-self: end;
        }
        &-service {
            position: relative;
            padding-left: 10px;
            z-index: 3;
            &:before {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                background-color: $main-color;
                border-radius: 100%;
                left: 0;
                top: -2px;
                z-index: -1;
            }
            &:after {
                content: '';
                width: 16.7px;
                height: 2px;
                left: -16.5px;
                top: 10px;
                background: black;
                position: absolute;
            }
        }
        &-descr {
            grid-column: 1/3;
            font-size: 14px;
            line-height: 18px;
            margin: 0;
        }
    }
}